//COLORS

@function getColor($nombreColor, $clave){
  $arrayColor:map-get($colors, $nombreColor);
  @return nth($arrayColor, $clave + 1);
}

@function getColorKeys(){
    @return (map-keys($colors));
}

@function getVariantesColorKeys(){
  $arrayKeys:();
    @for $i from 0 to length(map-get($colors, "principal")){      
      $arrayKeys:append($arrayKeys, $i);
    }
@return $arrayKeys;
}

//VIEWPORT

@function getViewportWidth($key){
  @return nth($viewport-width, $key + 1);
}

@function getViewportHeight($key){
  @return nth($viewport-height, $key + 1);
}


//BORDER-RADIUS

  @function getBorderRadius($clave){
    @return nth($border-radius, $clave + 1);
  }

  @function getBorderRadiusKeys(){
    $arrayKeys:();
    @for $i from 0 to length($border-radius){  
        $arrayKeys:append($arrayKeys, $i);
    }
    @return $arrayKeys;
  }

  //TEXT-ALIGN

  
  @function getTextAlign($clave){
    @return nth($text-align, $clave + 1);
  }

  @function getTextAlignKeys(){
    $arrayKeys:();
    @for $i from 0 to length($text-align){  
        $arrayKeys:append($arrayKeys, $i);
    }
    @return $arrayKeys;
  }

  //PADDINGS

  @function getPadding($clave){
    @return nth($padding-values, $clave + 1);
  }

  @function getPaddingKeys(){
    $arrayKeys:();
    @for $i from 0 to length($padding-values){  
        $arrayKeys:append($arrayKeys, $i);
    }
    @return $arrayKeys;
  }

    //MARGIN

    @function getMargin($clave){
      @return nth($margin, $clave + 1);
    }
  
    @function getMarginKeys(){
      $arrayKeys:();
      @for $i from 0 to length($margin){  
          $arrayKeys:append($arrayKeys, $i);
      }
      @return $arrayKeys;
    }

    
    //FONT-FAMILY

    @function getFontFamily($clave){
      @return unquote(nth($font-family, $clave + 1));
    }
  
    @function getFontFamilyKeys(){
      $arrayKeys:();
      @for $i from 0 to length($font-family){  
          $arrayKeys:append($arrayKeys, $i);
      }
      @return $arrayKeys;
    }

  //FONT-SIZE

  @function getFontSize($clave){
    @return map-get($font-size, $clave);
  }

  @function getFontSizeKeys(){
    @return map-keys($font-size);
}


//GAP

@function getGapKeys(){
  $arrayKeys:();
    @for $i from 0 to length($gap){  
        $arrayKeys:append($arrayKeys, $i);
    }
    @return $arrayKeys; 
}


@function getGap($key){
  @return nth($gap, $key + 1);
}

//TEXT-DECORATION

@function getTextDecoration($key){
  @return unquote(map-get($text-decoration, $key));
}

@function getTextDecorationKeys(){
    @return map-keys($text-decoration);
  }


//SHADOW

@function getShadow($key){
  @return unquote(nth($shadow, $key + 1));
}

@function getShadowKeys(){
  $arrayKeys:();
    @for $i from 0 to length($shadow){  
        $arrayKeys:append($arrayKeys, $i);
    }
    @return $arrayKeys;
}

//OVERFLOW

@function getOverflow($clave){
  @return map-get($overflow, $clave);
}

@function getOverflowKeys(){
  @return map-keys($overflow);
}

//WIDTH

@function getWidth($clave){
  @return nth($width, $clave + 1);
}

@function getWidthKeys(){
  $arrayKeys:();
  @for $i from 0 to length($width){  
      $arrayKeys:append($arrayKeys, $i);
  }
  @return $arrayKeys;
}

//MEDIA
@function getMedia($clave){
  @return map-get($media, $clave);
}

@function getMediaKeys(){
  @return map-keys($media);
}

//DISPLAY

@function getDisplay($clave){
  @return map-get($display, $clave);
}

@function getDisplayKeys(){
  @return map-keys($display);
}

//FONT-WEIGHT

@function getFontWeight($clave){
  @return nth($font-weight, $clave + 1);
}

@function getFontWeightKeys(){
  $arrayKeys:();
  @for $i from 0 to length($font-weight){  
      $arrayKeys:append($arrayKeys, $i);
  }
  @return $arrayKeys;
}