@each $key in getOverflowKeys(){
    $value:getOverflow($key);
    .l-overflow--#{$key} {
        overflow: $value;
    }
    .l-overflow-x--#{$key} {
        overflow-x: $value;
    }
    .l-overflow-y--#{$key} {
        overflow-y: $value;
    }
}