@each $media_key in getMediaKeys() {
  $media_value: getMedia($media_key);
  $modificador: "";
  @if ($media_key != "") {
    $modificador: "\\@#{$media_key}";
  }
  @media (min-width: $media_value) {
    @each $key in getPaddingKeys() {
      $value: getPadding($key);
      .g--padding-#{$key}#{$modificador} {
        padding: $value;
      }
      .g--padding-left-#{$key}#{$modificador} {
        padding-left: $value;
      }
      .g--padding-right-#{$key}#{$modificador} {
        padding-right: $value;
      }
      .g--padding-top-#{$key}#{$modificador} {
        padding-top: $value;
      }
      .g--padding-bottom-#{$key}#{$modificador} {
        padding-bottom: $value;
      }
      .g--padding-horizontal-#{$key}#{$modificador} {
        padding-left: $value;
        padding-right: $value;
      }
      .g--padding-vertical-#{$key}#{$modificador} {
        padding-top: $value;
        padding-bottom: $value;
      }
    }
  }
}
