@each $media_key in getMediaKeys() {
    $media_value: getMedia($media_key);
    $modificador: "";
    @if ($media_key != "") {
      $modificador: "\\@#{$media_key}";
    }
    @media (min-width: $media_value) {
      @each $key in getHeightKeys() {
        $value: getHeight($key);
        .g--height-#{$key}#{$modificador} {
          height: $value;
        }
        .g--min-height-#{$key}#{$modificador} {
          min-height: $value;
        }
        .g--max-height-#{$key}#{$modificador} {
          max-height: $value;
        }
      }
    }
  }
  